{% extends "job/base.html" %}

{% block con %}
    <h1 class="title">Job Result</h1>
        <div>
            <div class="heads">
                <div>
                    <h2 class="cap">{{ item.job_id }} {{ item.date.strftime('%b %d, %Y') }}</h2>
                    <h3 class="cap">{{ item.status }}</h3>
                </div>
                <h4 class="datetime cap">{{ item.job_id }} {{ item.date.strftime('%b %d, %Y') }}</h4>
            </div>
            <hr style="border: 3px solid #333;">
            <p class="body">
                {{ item.des }}
                {{ item.res }}
            </p>
        </div>

{% endblock %}